button{
    width:350px;
    height:75px;
    font-size:30px;
    border:0px;
    color:#fff;
    box-shadow: 2px 5px 5px #000;
    border-radius:10px;
    outline:none;
    transition:.3s all;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    background:#68228b;
}

span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate .5s linear forwards;
  }
  
  @keyframes animate {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0.5;
    }
  
    100% {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
  